<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoRoload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.ext">
  <exceptions>
    <add assembly="NLog.Web.AspNetCore"/>
  </exceptions>

  <targets>

    <target xsi:type="File" name="Log" fileName="D:\Log\Log.log"
            layout="${longdate} ${logger} ${message}" />


  </targets>

  <rules>
    <logger name="MWCodeReview.Services.*" minlevel="Trace" writeTo="Log" />


  </rules>
  
</nlog>